body {
  background: #647cff;
  margin:0;
  color: white;
}

a {
  color: white;
}

header {
  margin: auto 5%;
  color: white;
  font-size: 1.25em;
}

.oneup {
  position: absolute;
  top: 25px;
  left: 250px;
}

.block {
  position: absolute;
  top: 195px;
  left: 250px;
}

p {
  height: 180px;
  position: absolute;
  bottom: 0;
  margin-left: 65px;
}

footer {
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 0;
  background-image: url('https://dl.dropboxusercontent.com/u/38033202/Final/block-floor.png');
}
